# gitignore template for the Cordova framework
# website: https://cordova.apache.org/
#
# Recommended template: Node.gitignore

# App platform binaries and built files
/cordova/hooks
/cordova/node_modules
/cordova/plugins

# Optional to ignore plugin Git clones
#/plugins